@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'Wild';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_11@1.0/Wild.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    
    /* ----------------------- colors ----------------------- */
    --hue-color: #154415;
    --primary-color: var(--hue-color);
    --primary-color-lighter: #286428;

    --black-color: #222;
    --gray-color: #999;
    --white-color: #FFF;
    --body-color: #FFFEF8;

    /*------------------ typo ---------------------*/
    --body-font: 'Noto Sans KR', sans-serif;
    --main-font-size: 6rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.6rem;
    --h3-font-size: 1.4rem;
    --normal-font-size: 1.3rem;
    --small-font-size: .813rem;
    
    /* ----------------------- font-weight ----------------------- */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* ----------------------- margin bottom ----------------------- */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* ----------------------- z index ----------------------- */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}


/* ----------------------- reset ----------------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--gray-color);
}

h1,h2,h3,h4 {
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
}
h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    /* max-width: 100%; */
    vertical-align: top;
}
button {
    cursor: pointer;
}

/* ========================= reusable, common css ========================= */
.section__title--wrap {
    text-align: center;
}
.section__title {
    font-size: var(--h1-font-size);
}
.section__subtitle {
    font-size: var(--normal-font-size);
    color: var(--gray-color);
    margin-bottom: var(--mb-3);
}
.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}
.primary__color {
    color: var(--primary-color);
}
.margin-r {
    margin-right: 50px;
}
.margin-r-s {
    margin-right: 15px;
}
.margin-l {
    margin-left: 50px;
}
.text-align-l {
    text-align-last: left;
}
.float-right {
    float: right;
}
.clear-fix:after {
    content: "";
    clear: both;
    display: block;
}
/* ========================= layout ========================= */
.inner {
    min-width: 340px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 0 4rem;
}
.flex {
    display: flex;
}

/* ========================= header ========================= */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: var(--z-fixed);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.header-inner {
    max-width: 960px;
    height: 3rem;
    padding: 0 1rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    color: var(--black-color);
}
#logo {
    color: var(--black-color);
}
.nav__container {
    background: var(--body-color);
    margin-left: auto;
}
.nav__list {
    justify-content: flex-end;
}
.nav__item {
    font-weight: var(--font-semi-bold);
}
.nav__item:hover,
.nav__item.active
{
    color: var(--primary-color);
}
.nav__btns {
    color: var(--black-color);
}
.nav__item {
    margin-right: var(--mb-1-5);
    color: var(--black-color);
}
.nav__icon {
    font-size: 1.5rem;
    margin-left: var(--mb-0-75);
    
    display: none;
}
.change-theme {
    font-weight: var(--font-medium);
    font-size: 1.2rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}
.change-theme:hover {
    color: var(--primary-color);
}
#buttonLight {
    display: none;
}
#buttonDark {
    display: block;
}
#navToggle {
    display: none;
}
.nav__close {
    color: var(--primary-color);
    display: none;
}

/* ========================= home ========================= */

.home {
    text-align: center;
    color: var(--black-color);
    font-size: var(--main-font-size);
    height: 3000px;
    position: relative;
    
}
.home-container {
    padding-top: 300px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}
.home-title {
    vertical-align: top;
    margin-top: 50px;
}
.home-sub-title {
    font-size: var(--main-font-size);
    font-family: 'Wild';
    opacity: 0;
    margin-top: -100px;
}
.home-box {
    width: 500px;
    height: 200px;
    border: 1px solid #000;
    display: inline-block;
}

.home-title {
    display: inline-block;
}
/* .home-end {
    width: 100%;
    height: 150px;
} */

/* ========================about========================= */
.about {
    text-align-last: left;
    padding: 2rem;
    color: #000;
    position: relative;
}
.section__title--wrap {
    margin-top: 100px;
}
.section__title__intro {
    display: inline-block;
    width: 500px;
    position: relative;
}
.section__title__intro img {
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
}
.section__title {
    margin-bottom: var(--mb-1);
    display: inline-block;
}
.section__title__desc span{
    display: inline-block;
    margin-bottom: var(--mb-1-5);
}
.section__title__line {
    width: 300px;
    height: 2px;
    background: var(--primary-color);
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}
.section__title__sub h2{
    margin: 30px 0;
    color: var(--primary-color);
}

.section__title__intro p {
    margin-bottom: var(--mb-0-5);
}

.section__title__intro__second {
    display: inline-block;
    width: 800px;
    text-align-last: center;
    position: relative;
    vertical-align: top;
}
.about__info--wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: 30px 0;
    
}
.about__info {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-left: 120px;
}
.intro-img {
    width: 400px;
    margin-left: 300px;
}
.download {
    text-align: center;
    margin-top: 50px;
}

/* -----------------history--------------- */
.history__main__desc {
    
}
.history-img {
    width: 700px;
}
.history__main__desc p {
    text-align-last: center;
}
.history__desc1,
.history__desc2,
.history__desc3 {
    font-size: var(--small-font-size);
    text-align: center;
    font-weight: var(--font-semi-bold);
    z-index: var(--z-tooltip);
}
.history__desc1,
.history__desc2,
.history__desc3:hover {
    color: var(--primary-color);
}
.history__desc1 {
    position: absolute;
    top: 12%;
    left: 16%;
}
.history__desc2 {
    position: absolute;
    top: 40%;
    left: 52%;
}
.history__desc3 {
    position: absolute;
    top: -10%;
    right: 0%;
}
/* -----------------skills----------------*/
.skills {
    width: 800px;
    margin-top:-150px;
}
.skills__list {
    display: flex;
    flex-wrap: wrap;
}
.skills__item {
    display: flex;
    width: 50%;
    flex-shrink: 0;
    flex-direction: column;
    margin-bottom: var(--mb-1-5);
    padding-right: var(--mb-1-5);
}
.skills__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--mb-1);
    cursor: pointer;
}
.skills__title {
    display: flex;
    align-items: center;
}
.skills__title i {
    margin-right: var(--mb-1);
}
.skill__icon,
.skill__icon--arrow {
    font-size: var(--h1-font-size);
    color: var(--primary-color);
    transition: .3s;
}
.skill__icon--arrow.active {
    transform: rotate(180deg);
}
.skill__progress {
    padding-left: 3.2rem;
    margin-bottom: var(--mb-1);
}
.skill__titles {
    display: flex;
    justify-content: space-between;
}
.skill__titles h3 {
    font-weight: var(--small-font-size);
}

.skill__data {
    display: none;
}

.skill__bar {
    height: 8px;
    border-radius: .5rem;
    overflow: hidden;
    background: var(--primary-color-lighter);
}
.skill_percent_90 {
    display: block;
    width: 90%;
    height: 100%;
    background: var(--primary-color);
}
.skill_percent_70 {
    display: block;
    width: 70%;
    height: 100%;
    background: var(--primary-color);
}
.skill_percent_60 {
    display: block;
    width: 60%;
    height: 100%;
    background: var(--primary-color);
}
.skill_percent_50 {
    display: block;
    width: 50%;
    height: 100%;
    background: var(--primary-color);
}

/* ========================= Tablet ========================= */
@media (max-width: 768px){


    :root {
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --big-font-size: 2rem;
        --normal-font-size: .938rem;
        --small-font-size: .75rem;
    }
    .inner {
        padding: 2rem 2rem;
    }
    .header {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        box-shadow: 0 0 5px rgba(0,0,0,.5);
        padding: 0 1rem;
        z-index: var(--z-fixed);
    }
    .home.inner {
        padding: 0 4rem;
    }
    .nav__container {
        position: fixed;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
        transition: .3s;
        border-radius: 1.5rem 1.5rem 0 0;
    }
    .nav__container.visible {
        transform: translateY(0);
    }
    .nav__list {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .nav__item {
        width: 33.3333%;
        margin-right: 0;
        text-align: center;
        padding: 1rem;
    }
    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav__icon {
        margin-left: 0;
        display: block;
    }
    #buttonLight {
        margin-right: 1rem;
    }
    #buttonDark {
        margin-right: 1rem;
    }
    .nav__close {
        display: block;
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #navToggle {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
    }
}

/* ========================= Mobile ========================= */
@media (max-width: 568px){

    /* ====================== Skills ===================== */
    .skills__list {
        flex-direction: column;
    }
    .skills__item {
        width: auto;
    }

}